.swiper {
    z-index: 1;
    display: flex;
    flex-direction: column;
}
@media (min-width: 500px) {
    .swiper {
        gap: 10px;
        width: 100%;
    }
}
@media (min-width: 800px) {
    .swiper {
        flex-direction: column;
        width: 80%;
    }
}
@media (min-width: 1200px) {
    .swiper {
        flex-direction: column;
    }
}
.swiper__list {
    overflow-x: scroll;
    margin-top: 7px;
    display: flex;
    gap: 10px;
    overflow-y: hidden;
    max-width: 500px;
}
.swiper__list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (min-width: 500px) {
    .swiper__list {
        margin-top: 0;
        height: 100%;
    }
    .swiper__list img {
        width: 100px;
    }
}
@media (min-width: 800px) {
    .swiper__list {
        flex-direction: row;
        gap: 10px;
        height: 130px;
        max-width: 500px;
    }
    .swiper__list img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@media (min-width: 1200px) {
    .swiper__list {
        max-width: 1000px;
    }
    .swiper__list img {
        width: 100%;
    }
}
.swiper__active {
    z-index: 99;
}
.active {
    outline: 1px solid #000;
    outline-offset: 3px;
}
