.container {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 0rem;
    margin-top: 2rem;
    z-index: -2;
}

.card {
    margin: 1.25rem;
    border: 2px solid #ededed;
    padding: 2.5rem;
    cursor: pointer;
}

.media {
    width: 13rem;
    margin-bottom: 1rem;
}

.cardTitle {
    margin-bottom: 1rem;
}

.cardPrice {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
    margin-bottom: 2rem;
}

.number {
    margin: 0;
    border-radius: 0.375rem;
    background: #202020;
    max-width: auto;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 0.375rem;
    color: white;
}

.active {
    background: #c9c5c5;
    color: #000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.previous,
.next {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.25rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
        margin-left: 22rem;
    }
}
