.navigation {
    display: flex;
    border-bottom: 2px solid #f3f3f3;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    z-index: 1;
    margin: 0rem;
}

.search {
    padding: 0.75rem 0.75rem;
    border: none;
    background: #f7f6f6;
    outline: none;
    margin-right: 1.25rem;
    border-radius: 0.313rem;
    position: relative;
    width: 9rem;
}

.navIcon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;
    color: #000;
}

@media screen and (min-width: 768px) {
    .navigation {
        display: flex;
        border-bottom: 2px solid #f3f3f3;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        z-index: 1;
        margin: 0rem;
    }
    .search {
        width: 14rem;
    }
}
