.info {
    color: #666;
    background: #fff;
}

.infos__container {
    text-align: center;
}

.info__name {
    font-size: 35px;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

.info__price {
    color: #073f32;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.sizesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.inStock {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(72, 130, 72);
    border-radius: 0.2rem;
    border: solid 0.05rem black;
    position: relative;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(9% - 0.2rem);
    height: 2.2rem;
    color: black;
    border: 2px solid rgb(12, 133, 12);
}

.not-in-stock {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: disabled;
    background: white;
    border-radius: 0.2rem;
    border: solid 0.05rem black;
    background-color: white;
    position: relative;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(9% - 0.2rem);
    height: 2.2rem;
    color: black;
    border: 2px solid grey;
}

.not-in-stock p {
    color: grey;
}

.inStock p {
    color: green;
}

.description {
    width: 100%;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 1.8rem;
}

.description p:nth-child(1) {
    color: #fff;
    background-color: #000;
    text-align: center;
}

.description p:nth-child(2) {
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    line-height: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.description p:nth-child(3) {
    font-family: 'Raleway';
}

.description p:nth-child(5) {
    font-family: 'Raleway';
    font-weight: 200;
    color: black;
    line-height: 2.5rem;
}

@media screen and (min-width: 768px) {
    .infos__container {
        text-align: left;
    }

    .info__price {
        justify-content: flex-start;
    }

    .sizesContainer {
        justify-content: flex-start;
    }

    .description {
        width: 80%;
    }

    .description p:nth-child(2) {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1440px) {
    .description {
        width: 60%;
    }
}
