.sidebarTitle {
    text-transform: uppercase;
    font-family: 'Montserrat';
    color: grey;
    margin-top: 5rem;
}

.sidebarLabelsContainer {
    display: block;
    position: relative;
    padding-left: 2.188rem;
    margin-bottom: 0.75rem;
    cursor: pointer;
}

.sidebarLabelsContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    background-color: #eee;
    border-radius: 50%;
}

.sidebarLabelsContainer:hover input ~ .checkmark {
    background-color: #ccc;
}

.sidebarLabelsContainer input:checked ~ .checkmark {
    background-color: #2196f3;
}

.checkmark::after {
    content: '';
    position: absolute;
    display: none;
}

.sidebarLabelsContainer input:checked ~ .checkmark::after {
    display: block;
}

.sidebarLabelsContainer .checkmark::after {
    top: 0.39rem;
    left: 0.39rem;
    width: 0.438rem;
    height: 0.438rem;
    border-radius: 50%;
    background: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    margin: 1.875rem 0 2rem 0;
}

.title {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: rgb(87, 85, 85);
}
